.mine-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A2C38;
    padding: 1%;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100%;
}


@media (max-width: 1024px) {
    .mine-wrapper{
        padding-top:100px;
        overflow: hidden;
    }
}


@media (max-width: 768px) {
    .mine-wrapper{
        flex-direction: column-reverse;
        height: 100%;
        padding-top:80px;
    }
}

@media (max-width: 410px) {
    .mine-wrapper{
        flex-direction: column-reverse;
        height: 100%;
    }
}