@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.wallet-blur-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wallet-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  background-color: #1a2c38;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.222);
}

.wallet-header,
.upi-style,
.final-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upi-style {
  margin: 20px 0px;
}
.wallet-header-left,
.deposit-or-withdraw {
  display: flex;
  align-items: center;
  gap: 5px;
}

.wallet-title {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000008 ;
  color: #fffff2 !important;

}
.green{
  background-color: #1fff20 !important;
  cursor: pointer;

}

.green:hover{
  background-color: #19d019 !important;

}

.wallet-icon,
.close-icon {
  font-size: 40px;
  color: #fffff2;
}

.close-icon {
  cursor: pointer;
}

.parent-deposit-or-withdraw {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deposit-or-withdraw {
  justify-content: center;
  background-color: #0f212e;
  padding: 6px;
  border-radius: 25px;
}

.default {
  padding: 10px 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #2f4553;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.click {
  padding: 10px 20px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #0f212e;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.parent-amount-conversion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.amount-conversion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f212e;
  padding: 8px 20px;
  border-radius: 6px;
  width: max-content;
}

.inr {
  color: #fffff2;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.paragraph {
  color: #fffff2;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 2px dashed white;
  border-radius: 6px;
  padding: 8px;
  margin: 10px 0px;
  background-color: #0f212e;
  text-align: center;
}

.deposit-btn {
  text-align: center;
  width: 100%;
  background-color: #00e701;
  margin: 20px 0px;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in;
  color: whitesmoke;
}

.deposit-btn:hover {
  background-color: #02d102;
}

.loader-div,
.loader-div-set {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00e701;
  margin: 20px 0px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: 6px;
  color: whitesmoke;
}

.loader-div-set {
  background-color: #1475e1;
}

.upi-img {
  width: 100px;
}

.upi-title {
  color: #fffff2;
  font-size: 22px;
}

.default-amount-div {
  display: flex;
  margin: 20px 0px;
  gap: 3px;
}

.default-amount {
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  background-color: #314a5a;
  cursor: pointer;
  color: #fffff2;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 3px;
  transition: 0.1s;
  box-sizing: border-box;
}

.default-amount:hover {
  background-color: #2d4351;
}

.default-amount-click.default-amount {
  background-color: #1475e1;
  box-sizing: border-box;
}

.amount-input-div {
  background-color: #071d2a;
  box-sizing: border-box;
  padding: 5px;
  padding-left: 10px;
}

.amount-input-header {
  color: #aab0b5;
}

.amount-input {
  width: 100%;
  background-color: #071d2a;
  border: none;
  outline: none;
  color: #aab0b5;
  font-size: 22px;
  margin: 5px 0px 0px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.minimum-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #aab0b5;
  margin: 20px 0px;
  font-size: 15px;
}

.minimum-text-state{
  color: red;
}

.set-amount {
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  color: rgba(245, 245, 245, 0.71);
  padding: 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: none;
  outline: none;
  transition: 0.3s ease-in;
  background-color: #0f59ad;
  scale: 0.9;
  transition: 0.3s ease-in;
}

.before-set-amount {
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  color: whitesmoke;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: none;
  outline: none;
  background-color: #1475e1;
  scale: 1;
  transition: 0.3s ease-in;
}

.before-set-amount:hover {
  background-color: #0f59ad;
}

.final-amount-header {
  color: whitesmoke;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.wallet-blur-wrapper {
  background-color: rgba(0, 0, 0, 0.599);
}

.paragraph-none {
  display: none;
}

@media (max-width: 768px) {
  .wallet-blur-wrapper {
    background-color: rgba(0, 0, 0, 0.599);
  }
  .wallet-wrapper {
    width: 60%;
    padding: 20px;
    margin-top: 30px;
    overflow-y: scroll; /* Change to 'scroll' if you always want a scrollbar */
  }

  .paragraph {
    /* display: none; */
    text-align: center;
  }
}

@media (max-width: 500px) {
  .wallet-blur-wrapper {
    background-color: rgba(0, 0, 0, 0.599);
  }
  .wallet-wrapper {
    width: 80%;
  }
  .wallet-header {
    margin-bottom: 20px;
  }

  .upi-img {
    width: 60px;
  }
  .upi-title {
    font-size: 20px;
  }
}

@media (max-width: 410px) {
  .wallet-wrapper {
    width: 80%;
    margin-top: 0px;
  }
  .wallet-icon,
  .close-icon {
    font-size: 30px;
    color: #fffff2;
  }

  .wallet-header{
    margin-bottom: 5px;
  }

  .wallet-title {
    color: #fffff2;
    font-size: 18px;
  }

  .default-amount {
    padding: 10px;
    font-size: 16px;
  }


  .default,
  .click,
  .inr {
    font-size: 12px;
  }

  .set-amount {
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    font-size: 20px;
  }

  .minimum-text{
    margin: 0;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

}

@media (max-width: 375px) {
  .wallet-wrapper {
    width: 80%;
    margin-top: 0px;
  }
  .wallet-title {
    font-size: 15px;
  }
  .deposit-or-withdraw {
    margin: 10px 0px;
  }

  .parent-amount-conversion {
    margin: 10px 0px;
  }
  .paragraph {
    font-size: 12px;
    margin: 0;
  }

  .default,
  .click,
  .inr {
    font-size: 12px;
  }

  .deposit-btn {
    margin: 20px 0px;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0px;
  }
}

@media (max-width: 320px) {
  .wallet-wrapper {
    width: 80%;
    margin-top: 0px;
  }
  .wallet-title {
    font-size: 15px;
  }
  .deposit-or-withdraw {
    margin: 10px 0px;
  }
  .paragraph {
    font-size: 12px;
    margin: 0;
  }

  .default,
  .click,
  .inr {
    font-size: 12px;
  }

  .deposit-btn {
    margin: 10px 0px;
  }
}

@media (max-width: 295px) {
  .wallet-wrapper {
    width: 80%;
    margin-top: 0px;
  }
  .wallet-title {
    font-size: 15px;
  }
  .deposit-or-withdraw {
    margin: 10px 0px;
  }

  .parent-amount-conversion {
    margin: 5px 0px;
  }
  .paragraph {
    font-size: 12px;
    margin: 10px 0px;
  }

  .default,
  .click,
  .inr {
    font-size: 12px;
  }

  .deposit-btn {
    margin: 10px 0px;
  }
}
