.limbo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a2c38;
  padding: 1%;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 100%;
  margin-top: 00px;
}


@media (max-width: 2560px) {
  .limbo-wrapper {
    padding-top: 30px !important;
    overflow: hidden;
  }
}

@media (max-width: 1980px) {
  .limbo-wrapper {
    padding-top: 130px;
    overflow: hidden;
    height: 100%;
  }
}


@media (max-width: 1440px) {
  .limbo-wrapper {
    padding-top: 130px;
    overflow: hidden;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .limbo-wrapper {
    padding-top: 100px;
    overflow: hidden;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .limbo-wrapper {
    flex-direction: column-reverse;
    padding-top: 100px;
    height: 100%;
    padding-top: 80px;
  }
}