@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.dice {
  /* width: 1200px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 3px solid white; */
  box-sizing: border-box;
  border-radius: 3px;
  flex-direction: column;
  height: 600px;
  width: 1200px;
  background-color: red;
  background-color: #0f212e;
}

.child-dice {
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 100px 20px; */
  padding: 0px 20px;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  /* border: 2px solid white; */
}

.parent-dice-range-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  box-sizing: border-box;
}

.dice-range-numbers,
.dice-appear-number {
  color: white;
  padding: 5px 5px;
  /* margin-left: 10px; */
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.parent-dice-range {
  position: relative;
  width: 620px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f4553;
  padding: 10px;
  border-radius: 100px;
}

.dice-range,
.dice-range-green {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 5px; /* Add rounded corners */
  background-color: transparent;
  background-color: #0f212e;
  z-index: 1;
  border-radius: 100px;
  padding: 10px;
}
/* ! this is important to manage the width of range */
/* .dice-range{
  width: 1170px !important;
} */
.dice-range::-webkit-slider-thumb,
.dice-range-green::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 10%;
  cursor: grab;
  background-color: var(--thumb-color, #4391e7);
  margin-top: -14px; /* Adjust thumb position */
}

.dice-range::-webkit-slider-thumb:focus,
.dice-range-green::-webkit-slider-thumb:focus {
  background-color: var(--thumb-color, red) !important;
}

.dice-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    red 0%,
    red calc(var(--thumb-pos) * 100%),
    green calc(var(--thumb-pos) * 100%),
    green 100%
  );
  border-radius: 100px;
  height: 8px;
}

.dice-range::before,
.dice-range::after {
  position: absolute;
  content: "";
  height: 100%;
  border-radius: 5px;
}
.dice-range-green::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    green 0%,
    green calc(var(--thumb-pos) * 100%),
    red calc(var(--thumb-pos) * 100%),
    red 100%
  );
  border-radius: 100px;
  height: 8px;
}
.dice-range-green::before,
.dice-range-green::after {
  position: absolute;
  content: "";
  height: 100%;
  border-radius: 5px;
}

.parent-hexagon-img {
  position: relative;
}

.hexagon-img {
  width: 60px;
  /* border: 6px solid red; */
}

.parent-assume-img {
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
}

.assume-img {
  width: 580px;
  box-sizing: border-box;
  position: absolute;
  top: -170px;
  /*left: -15px; */
  z-index: 0;
  /* border: 3px solid white; */
  width: 100%;
}

/* this is static img */
.dice-appear-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.dice-img-number {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-style: normal;
  position: absolute;
  top: 22px;
  left: 18px;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 10px;
}

.parent-roll-over {
  padding: 20px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
  background-color: #213743;
  margin: 20px 0px;
}

.inner-parent-roll-over {
  width: 100%;
}

.inner-parent-roll-over-header {
  color: #fff;
  margin: 5px 0px;
}

.inner-parent-roll-over-input {
  width: 100% !important;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  box-sizing: border-box;
  font-style: normal;
  font-size: 12px;
  padding: 6px 6px;
  color: #ffffff;
  background-color: #0f212e;
  border: 2px solid #acb5ce;
  border-radius: 3px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  cursor: pointer;
}

.show-dice-clr-red {
  color: red;
  border: 2px solid red;
  transition: 1s ease;
}

.show-dice-clr-green {
  color: rgb(15, 205, 15);
  border: 2px solid rgb(15, 205, 15);
  transition: 1s ease;
}

@media (max-width: 1024px) {
  .diceWrapper {
    margin: 10px 0px;
    padding: 90px 0px !important;
    height: 100vh;
  }
  .dice {
    width: 600px;
    height: 400px !important;
    margin: 0;
    /* border: 2px solid white; */
  }

  .child-dice {
    justify-content: center;
  }
  .parent-assume-img {
    width: 580px;
    padding: 0px 10px;
    box-sizing: border-box;
  }
  .assume-img {
    top: -70px;
  }

  .hexagon-img {
    width: 40px;
  }

  .disabled-bet-btn {
    font-size: 18px;
    padding: 8px 8px;
    margin: 10px 0px;
  }
}

@media (max-width: 910px) {
  .dice {
    width: 500px;
  }

  .parent-assume-img {
    width: 480px;
  }
}

@media (max-width: 805px) {
  .dice {
    margin-top: 00px;
    width: 750px;
  }

  .parent-assume-img {
    width: 720px;
  }
  .diceWrapper {
    padding-top: 20px !important;
    margin-top: 60px;
    height: 100%;
    overflow: scroll !important;
    overflow: visible !important;
    padding-bottom: 20px !important;
  }

  body{
    overflow: scroll !important;
    overflow: visible !important;
  }
  .dice-bet {
    /* border: 2px solid white; */
    box-sizing: border-box;
    padding-top: 20px;
    height: 100%;
  }
  .assume-img {
    top: -75px;
  }
}
