@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.dice {
  margin-top: 60px;
  /* width: 1200px; */
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 3px;
  flex-direction: column;
}

.dice-numbers-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dice-numbers {
  color: white;
  padding: 5px 5px;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.parent-dice-range {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f4553;
  padding: 10px;
  border-radius: 100px;
}

.dice-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 5px; /* Add rounded corners */
  background-color: transparent;
  background-color: #0f212e;
  border-radius: 100px;
  padding: 10px;
}

.dice-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 10%;
  cursor: grab;
  background-color: var(--thumb-color, #4391e7);
  margin-top: -14px; /* Adjust thumb position */
}

.dice-range::-webkit-slider-thumb:focus {
  background-color: var(--thumb-color, red) !important;
}

.dice-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    red 0%,
    red calc(var(--thumb-pos) * 100%),
    green calc(var(--thumb-pos) * 100%),
    green 100%
  );
  border-radius: 100px;
  height: 8px;
}

.dice-range::before,
.dice-range::after {
  position: absolute;
  content: "";
  height: 100%;
  border-radius: 5px;
}
