.dice-bet{
    height: 600px;
}

@media (max-width: 1024px){
    .dice-bet{
        height: 400px;
    }
}

@media ( max-width : 805px){
    .dice-bet{
        height: 100%;
        width: 750px;
    }
}

@media (max-width: 765px){
    .dice-bet{
        height: 100%;
        width: 480px;
    }

}

@media ( max-width : 500px){
    .dice-bet{
        width: 400px;
    }
}

@media (max-width: 410px) {
    .dice-bet {
      width: 380px;
    }
  }

  @media (max-width: 375px) {
    .dice-bet {
        width: 320px;

      }
  }