.diceWrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-top: 130px;
}

@media (max-width: 805px){
    .diceWrapper{
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        /* height: 100%; */
    }
}