@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home {
  padding-top: 130px;
  width: 100%;
  height: 100vh;
  background-color: #0f212e;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.poster-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 65%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 20px 8px;
  background-color: #1a2c38;
  margin-bottom: 20px;
}

.poster-child {
  width: min-content;
  box-sizing: border-box;
}

.poster-img {
  width: 800px;
  border-radius: 6px;
}

.poster-child-header {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin: 10px 0px;
}

.poster-child-p {
  color: #b1bad3;
}

.casino-btn {
  width: 100%;
  margin: 20px 0px;
  background-color: #1475e1;
  padding: 20px;
  border-radius: 6px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  transition: 0.2s ease-in;
  text-align: center;
  width: 95%;
}

.casino-btn:hover {
  background-color: #105eb4;
  cursor: pointer;
}
.home-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  background-color: #1a2c38;
  padding: 10px;
  margin-bottom: 20px;
}

.home-footer-header,
.buy-crypto {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  margin: 0px 10px;
  font-size: 18px;
}

.buy-crypto {
  background-color: #384957;
  padding: 10px 15px;
  border-radius: 6px;
}
.buy-crypto:hover {
  background-color: #405464;
}

.footer-svg-img {
  width: 60px;
  height: 60px;
  margin: 0px 5px;
}

@media (min-width: 1904px)  {
  .poster-img {
    width: 600px;
  }
  .casino-btn {
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 1903px)  {
  .poster-img {
    width: 600px;
  }
  .casino-btn {
    box-sizing: border-box;
    width: 100%;
  }
}

  /* @media (max-width: 1876px) {
    .poster-img {
      width: 400px;
    }
    .poster-child-header,
    .poster-child-p {
      text-align: center;
    }
  } */



  @media (min-width: 1440px) and (max-width: 1903px) {
    .poster-img {
    width: 400px;
  }
  .poster-child-header,
  .poster-child-p {
    text-align: center;
  }
}

@media (max-width: 1439px)  {
  .poster-img {
  width: 400px;
}
.poster-child-header,
.poster-child-p {
  text-align: center;
}
}
@media (max-width: 1024px) {
  .home {
    padding-top: 100px;
  }

  .poster-img {
    width: 400px;
  }
  .poster-child-header,
  .poster-child-p {
    text-align: center;
  }

  .poster-div {
    width: 90%;
  }

  .home-footer {
    width: 90%;
  }
}


@media (max-width: 907px){
  .home {
    padding-top: 90px;
    height: 100%;
  }
  .poster-child {
    width: 100%;
  }

  .poster-img {
    width: 100%;
  }
  .poster-child-header,
  .poster-child-p {
    text-align: center;
  }

  .poster-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 18px;
    border-radius: 0px;
  }
.home-footer{
  width: 90%;
  padding: 10px 18px;

}
  .home-footer-header {
    display: none;
  }

  .buy-crypto{
    margin: 0;
  }
}
@media (max-width: 768px) {
  .home {
    padding-top: 90px;
    height: 100%;
  }
  .poster-child {
    width: 100%;
  }

  .poster-img {
    width: 100%;
  }
  .poster-child-header,
  .poster-child-p {
    text-align: center;
  }

  .poster-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 18px;
    border-radius: 0px;
  }
.home-footer{
  width: 90%;
  padding: 10px 18px;

}
  .home-footer-header {
    display: none;
  }

  .buy-crypto{
    margin: 0;
  }
}

@media (max-width: 500px) {
  .poster-div {
    padding: 10px 10px;
  }

  .poster-child-header {
    font-size: 16px;
  }

  .poster-child-p {
    font-size: 12px;
  }

  .casino-btn {
    padding: 10px;
  }

  .home-footer{
    width: 90%;
    padding: 0px 10px;
  }
  .footer-svg {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .buy-crypto {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .home {
    padding-top: 80px;
  }
  .poster-div {
    padding: 10px 10px;
    margin-bottom: 10px;
  }

  .poster-child-header {
    font-size: 16px;
  }

  .poster-child-p {
    font-size: 10px;
  }

  .casino-btn {
    padding: 8px;
  }

  .buy-crypto {
    padding: 10px;
    font-size: 10px;
  }

  .footer-svg-img{
    width: 50px;
  }
}
