@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.keno {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f212e;
  padding: 40px;
}
.keno-grid {
  display: grid;
  grid-template-columns: repeat(8, 140px);
  grid-gap: 20px;
  width: max-content;
}

.keno-box {
  height: 140px;
  width: 140px;
  background-color: #2f4553;
  border-radius: 9px;
  transition: 0.1s ease-in;
  box-shadow: 0px 5px 0px #293540;
  cursor: pointer;
}
.keno-box:hover {
  box-shadow: 0px 10px 0px #425668;
  background-color: #557086;
  scale: 1.03;
}

.keno-box-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  transition: 0.1s ease-in;
  font-size: 30px;
}

.selected-keno-box {
  background-color: #962eff;
  box-shadow: 0px 5px 0px #7100c7;
}

.selected-keno-box:hover {
  background-color: #b061ff;
  box-shadow: 0px 10px 0px #9000ff;
}
