@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.keno {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f212e;
  padding: 40px;
  height: 86vh;
}
.keno-grid {
  display: grid;
  grid-template-columns: repeat(8, 140px);
  grid-gap: 25px;
  grid-gap: 20px;
  width: max-content;
  position: relative;
}

.select-limit-reached-grid-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.208);
  border-radius: 9px;
  box-shadow: 0px 5px 0px black;
  z-index: 0;
  transition: 0.3s ease-in;
}

.keno-box {
  height: 140px;
  width: 140px;
  background-color: #2f4553;
  border-radius: 9px;
  transition: 0.1s ease-in;
  box-shadow: 0px 5px 0px #293540;
  cursor: pointer;
}
.keno-box:hover {
  box-shadow: 0px 10px 0px #425668;
  background-color: #557086;
  scale: 1.03;
}

.keno-box-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  transition: 0.1s ease-in;
  font-size: 30px;
}

.selected-keno-box {
  background-color: #962eff;
  box-shadow: 0px 5px 0px #7100c7;
  z-index: 2;
}

.selected-keno-box:hover {
  background-color: #b061ff;
  box-shadow: 0px 10px 0px #9000ff;
}

.appear-keno-box {
  background-color: red;
  background-color: #0b1c29;
  box-shadow: 0px -10px 0px #071822;

}

.appear-box-number {
  color: #7c1930;
  color: red;
}

.keno-gem-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/kenoGem.svg");
  background-size: 70%; /* Adjust the size to cover the entire container */
  background-repeat: no-repeat;
  background-position: center;
}

.keno-bg-dark{
  width: 90%;
  height: 90%;
  background-color: #071824;
  z-index: -1;
  border-radius: 9px;
}
.keno-gem-img {
  width: 70%;
  background-color: #071824;
  padding: 10%;
}

.keno-gem-number {
  position: absolute;
  color: #0f9110;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}
